<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenshinDigits (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GenshinDigits (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9D5F53427A5542300834035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D5F53A27A5542300834035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D5F54127A5542300834035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D5F54D27A5542300834035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
